/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_light {
  --main-color: #FFF1F7; 
  --additional-color: #FF8DCB;
  --focus-color: #FFC2E6;
  --main-text-color: #353430;
  --table-header-color: #353430;
  --additional-text-color: #353430;
  --rec-text-color: #ffeff7;
  --header-background-image: url('../images/cover-image-light.png');
  --rec-display: hidden;
  --point-shadow: none;
  --point-background: none;
  --button-hover: rgba(50, 49, 45, 0.4);
  --link-shadow:#F1B2CE;
  --link-hover: 1px solid rgba(50, 49, 45);
}

.page.theme_light {
  background-color: var(--main-color);
}

@media (prefers-color-scheme: light) {
  :root {   
      --main-color: #FFF1F7;
      --additional-color: #FF8DCB;
      --focus-color: #FFC2E6;
      --main-text-color: #353430;
      --additional-text-color: #353430;
      --rec-text-color: #ffeff7;
      --header-background-image: url('../images/cover-image-light.png');
      --rec-display: hidden;
      --point-shadow: none;
      --point-background: none;
      --button-hover: rgba(50, 49, 45, 0.4);
  }
}