/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_light {
  --main-color: #FFF1F7; 
  --additional-color: #FF8DCB;
  --focus-color: #FFC2E6;
  --main-text-color: #353430;
  --additional-text-color: #353430;
}

.page.theme_light {
  background-color: var(--main-color);
}

@media (prefers-color-scheme: light) {
  :root {   
      --main-color: #FFF1F7;
      --additional-color: #FF8DCB;
      --focus-color: #FFC2E6;
      --main-text-color: #353430;
      --additional-text-color: #353430;
      --header-background-image: url('/images/cover-image-light.png')
  }
}