* {
  font-family: 'IBM Plex Mono', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.page {
  position: relative;
  padding: 0;
  margin: 0 auto;
  max-width: 1024px;
  background-color: var(--main-color);
}

.decorated-zone::after {
    display: block;
    content: '';
    position: absolute;
    border-top: 1px solid var(--additional-text-color);
    border-right: 1px solid var(--additional-text-color);
    width: 25px;
    height: 25px;
    right: 20px;
    top: 20px;
}

.decorated-zone::before {
  display: block;
  content: '';
  position: absolute;
  border-bottom: 1px solid var(--additional-text-color);
  border-left: 1px solid var(--additional-text-color);
  width: 25px;
  height: 25px;
  left: 20px;
  bottom: 20px;
}

.header__no-focus {
  display: flex;
  align-items: center;
  margin: 0;
  font-family: 'IBM Plex Mono', Arial, Helvetica, sans-serif;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  text-shadow: 4px 4px 0px #FF0070;
  color: var(--focus-color);
}

.background__main-image {
  background-size:cover;
  background-position: 50% 50%;
  background-image: var(--header-background-image);
  position: fixed;
  height: 100%;
  width: 100%;
  max-width: 1024px;
  z-index: -1;
}

.header {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  position: relative;
  height: 100vh;
  min-height: 668px;
  margin-bottom: 60px;
}

.header__theme-menu {
  padding-top: 20px;
}

.header__theme-menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.header__theme-menu-button {
  color: var(--additional-text-color);
  font-size: 18px;
  display: flex;
  padding: 0px 13px 0px 13px;
  background: none;
  border: 1px solid transparent;
  height: 26px;
  width: 70px;
  outline: none;
  
}



.header__theme-menu-button:disabled  {
  border: 1px solid var(--additional-text-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  cursor: pointer;
  border: 1px solid var(--button-hover);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--additional-text-color);
}

.link__in-text {
  text-shadow: 1px 1px 0px var(--link-shadow);
  text-decoration: none;
  border: 1px solid transparent;
  outline: none;
}

.link__in-text:hover {
  border-bottom: var(--link-hover);
}

.link__in-text:focus {
  border: var(--link-hover);
}

.header__slogan {
  color: #000028;
  font-family: 'IBM Plex Mono', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  background-color: var(--additional-color);
  max-width: 491px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 20px;
  margin-top: 50px;
}

.rec {
  position: absolute;
  right: 52px;
  top: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rec__text {
  font-family: 'IBM Plex Mono', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: var(--rec-text-color);
}

.rec__text::before {
  content: '';
  position: absolute;
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--point-background);
  box-shadow: var(--point-shadow);
  right: -22px;
  top: 7px;
}

.rec__icon {
  position: relative;
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--point-background);
  box-shadow: var(--point-shadow);
  margin-left: 10px;
}

.rec__icon::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
}

.rec__icon::after {
  content: '';
  position: absolute;
  border-top: 1px solid var(--additional-text-color);
  border-right: 1px solid var(--additional-text-color);
  width: 25px;
  height: 25px;
  left: calc(-50% - 4px);
  top: calc(-50% - 3px);
}

.info__columns {
  column-gap: 10px;
  row-gap: 20px;
  color: var(--main-text-color);
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 82px;
}

.info__columns:nth-child(2n) {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}

.info__columns:nth-child(2n) .info__columns-header {
  grid-column-end: 4;
  grid-column-start: 1;
  max-width: 315px;
}

.info__columns-item {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.info__columns:nth-child(2n) .info__columns-item {
  grid-column: auto;
}

.info__columns:nth-child(2n) .info__columns-item:nth-child(4) {
  order: 3;
  grid-row-start: 2;
}
.info__columns:nth-child(2n) .info__columns-item:nth-child(2) {
  order: 2;
  grid-row-start: 2;
}
.info__columns:nth-child(2n) .info__columns-item:nth-child(3) {
  order: 1;
  grid-row-start: 2;
}

.info__columns-header {
  font-size: 18px;
  margin: 0;
  color: var(--additional-text-color);
}

.info__columns-header-last-grid {
  grid-row: 1;
  grid-row-end: 6;
}

.info__columns-item {
  grid-column: 2;
}

.info__columns-item h4 {
  font-weight: 100;
}

.info__columns-item h3, h4 {
  font-size: 18px;
  margin-top: 0;
  background-color: var(--additional-color);
  color: var(--table-header-color);
}

.info__columns-item p {
  overflow-wrap: anywhere;
  line-height: 23.4px;
  font-size: 18px;
}

.gallery__header {
  margin:20px;
}

.gallery__img {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
  "sunset sunset ice";
  grid-template-rows: 260px 320px 428px;
  padding-left: 20px;
  padding-right: 20px;
}

.gallery__img-wrapper {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery__img-wrapper img {
  height: 100%;
  object-fit: cover;
}
/* .gallery__image {
  background-position: 50% 50%;
  background-size: cover;
} */

.image__sunset {
  /* background-image: url(/images/sunset.png); */
  grid-area: sunset;
  grid-column: 1;
  grid-column-end: 3;
}

.image__ice {
  /* background-image: url(/images/ice-cream.png); */
  grid-area: ice;
  grid-column: 3;
  grid-column-end: 4;
  grid-row: 1;
  grid-row-end: 3;
}

.image__tape {
  /* background-image: url(/images/tape.png); */
  grid-area: tape;
  grid-column: 1;
  grid-column-end: 2;
  grid-row: 2;
  grid-row-end: 4;
}

.image__books {
  /* background-image: url(/images/books.png); */
  grid-area: books;
  grid-column: 2;
  grid-column-end: 3;
  grid-row: 2;
  grid-row-end: 3;
}

.image__street {
  /* background-image: url(/images/street.png); */
  grid-area: street;
  grid-column: 2;
  grid-column-end: 4;
  grid-row: 3;
  grid-row-end: 4;
}

.footer__focus {
  margin-top: 60px;
  min-height: 768px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 120px;
  text-shadow: 2px 2px 0px #FF0070;
  color: var(--focus-color);
}

.footer__focus .rec {
  top: 30px;
}

.footer__focus .rec .rec__icon {
  background: none;
  box-shadow: none;
}

.footer__focus h3 {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  margin: 0;
}

.bold-none h3 {
  font-weight: 400;
}

@media (max-width: 768px) {
  .info__columns:nth-child(2n) .info__columns-item:nth-child(4) {
    grid-row-start: auto;
  }
  
  

  .gallery__img {
    grid-template-rows: 192px 230px 318px;
  }

  .header__theme-menu-list {
    justify-content: flex-start;
  }

  .header__slogan {
    max-width: 364px;
    margin-top: 42px;
  }

  .header__no-focus {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__theme-menu {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    padding-top: 0;
    margin-left: auto;
  }

  .header__theme-menu-list {
    flex-direction: column;
    margin-left: auto;
    margin-top: 20px;
    margin-right: 20px;
    grid-row-start: 2;
  }

  .info__columns {
    column-gap: 20px;
  }

  .info__columns:nth-child(2n) .info__columns-header {
    max-width: 236px;
  }
  
  .info__columns:nth-child(2n) .info__columns-item {
    grid-row: 4;
    grid-column: 1;
    grid-column-end: 4;
  }
  
  .info__columns:nth-child(2n) .info__columns-item:nth-child(2) {
    grid-row: 3;
    grid-column: 1;
    grid-column-end: 4;
  }
  
  .info__columns:nth-child(2n) .info__columns-item:nth-child(3) {
    grid-row: 2;
    grid-column: 1;
    grid-column-end: 4;
  }

  .footer__focus {
    min-height: 1024px;
  }

  .footer__focus h3 {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (max-width: 375px) {

  .header__theme-menu {
    grid-template-rows: auto;
  }

  .decorated-zone::after {
    top: 10px;
    right: 10px;
  }

  .decorated-zone::before {
    bottom: 10px;
    left: 10px;
  }

  .footer__focus.decorated-zone::after {
    top: 20px;
  }

  .footer__focus.decorated-zone::before {
    bottom: 20px;
  }

  .info__columns:nth-child(2n) .info__columns-header {
    max-width: 315px;
  }

  .info__columns {
    display: flex;
    flex-direction: column;
    margin-bottom: 52px;
  }

  .header {
    min-height: 0;
    min-height: 668px;
    margin-bottom: 40px;
  }

  .header__no-focus {
    line-height: 95px;
    top: 0;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    position: relative;
    margin-left: 10px;
    line-height: 95.7px;
  }

  .header__slogan {
    margin: 0 10px;
    margin-top: 40px;
  }

  .footer__focus {
    margin-top: 20px;
    min-height: 688px;
  }

  .footer__focus h3 {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__theme-menu-list {
    margin-right: 10px;
    margin-top: 25px;
  }

  .rec {
    top: 14px;
    right: 41px;
  }

  .gallery__img {
    display: flex;
    gap: 10px;
    padding: 10px;
    flex-direction: column;
  }

  .gallery__img-wrapper img {
    width: 100%;
  }

  .info__columns {
    padding-left: 10px;
    padding-right: 10px;
  }

  .gallery__header {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0;
  }

  .gallery__header h3 {
    margin-bottom: 0;
  }

  /* .info__columns-item h3 {
    margin-left: 10px;
    margin-right: 10px;
  } */
}