/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  /* Переменные тёмной темы */
  --main-color: #000028;
  --additional-color: #FF0070;
  --focus-color: #DB00FF;
  --main-text-color: #F1B2CE;
  --additional-text-color: #FF0070;
  --header-background-image: url('../images/cover-image.png');
  --point-shadow: 0 0 6px 3px var(--additional-text-color);
  --point-background: var(--additional-text-color);
}

/* @media (prefers-color-scheme: light) {
  :root {
    --header-background-image: url('/images/cover-image.png')
  }
} */

@media (prefers-color-scheme: dark) {
  :root {
    --header-background-image: url('/images/cover-image-dark.png');
    --rec-text-color: #FF0070;
  }
}